<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.SDELang.sdedit" 
       class = "sdedit.sDELang.SDELangPackage"
       genModel = "model/generated/SDELang.genmodel" /> 
	
  </extension>



</plugin>
