<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sdedit.featureSeqDiag/SD_language" 
       class = "featureSeqDiag.sdedit.sD_language.SD_languagePackage"
       genModel = "model/generated/SD_language.genmodel" /> 
	
  </extension>



</plugin>
